#ConfigFileRev: 1
#Sample STIDE configuration file containing default values.

db_name: default.db	# name of database
seq_len: 6		# length of sequences
max_elements: 500	# maximum number of unique elements in input 
max_streams: 100        # maximum number of unique streams in input  
pair_offset: 0          # offset for pair number count
add_output_format:  \
	"DB Size: %d\tStream: %s\tPair Number: %p\n"
			# In verbose mode, STIDE will print
			# this information for every new
              		# sequence added to the database.  In
			# very verbose mode, STIDE will print
 			# this information for every sequence
			# considered.  Possible data:  
			#   %d	Database Size
            		#   %i  Pair number of last data element of
			#	sequence in its particular
			#	data stream 	
			#   %p  Pair number of last data element of
			# 	sequence in the whole input
			#	stream 	
			#   %s	Stream Number 
				    
compare_output_format:  \
	"Pair Number: %p\tStream Number: %s\n"
			# In verbose mode, STIDE will print
			# this information for every sequence
			# which is itself an anomaly or whose
			# locality frame conatins an anomaly.
			# In very verbose mode, STIDE will
			# print this information for every
			# sequence.  Possible data:  
			#   %a	1 if this sequence is an anomaly, 0
                        #       otherwise  
			#   %c  locality frame count of this sequence 
			#   %h  Hamming distance
            		#   %i  Pair number of last data element of
                        #       its particular data stream 	
			#   %p  Pair number of last data element of
                        #       the entire input 
			#   %s	Stream Number 
lf_size: 1          	# 1 causes locality frame counts not
             		# to be computed 
add_to_db: off          # Add this data to the database, or, if there
			# is no database, create a new one -- do not
			# do comparisons
output_graph: off       # Outputs graphing information in Dot
			# format 
compute_hdist: off      # Compute Hamming distances
write_db_stats: off     # At end, print out statistics about database
verbose: off            # See add_ouput_format and compare_output_format
very_verbose: off	# See add_ouput_format and compare_output_format
